<p>Choice</p>



  <form #addUserForm="ngForm" (submit)="addCustomer(addUserForm)">

    <label for="firstName"> Podaj imię </label>
    <input type="text" [(ngModel)]="firstName" name="firstName" required minlength="10" maxlength="20"> 
  
    <br><br> 
  
    <label for="firstName"> Zatrudnienie </label>
    <input type="checkbox" [(ngModel)]="employment" name="employment" checked required> 
  
    <br><br> 
  
    <select [(ngModel)]="hobbies" name="hobbies" required>
        <option value="" disabled>Wybierz coś</option>
        <option value="football">Piłka nożna</option>
        <option value="volleyball">Siaktówka</option>
    </select>
  
    <br><br> 
  
    <textarea [(ngModel)]="desc" name="desc" required>  </textarea>
  
    <br><br> 
  
    <button type="submit" [disabled]="!addUserForm.valid" > Dodaj</button>
  
  </form>
  
  {{desc}}
    {{ addUserForm.value | json}}
    