<p>Choice</p>


<div>
  <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">

    <div *ngIf="nameCtrl.hasError('required')">Departure place</div>
    <input placeholder="name" [(ngModel)]="name" name="name" required  #nameCtrl="ngModel"> 
 
 
    <br><br> 
  
    <label for="firstName"> Zatrudnienie </label>
    <input type="checkbox" [(ngModel)]="employment" name="employment" checked required> 
  
    <br><br> 
    <div *ngIf="originPlace.hasError('required')">Departure place</div>
    <select placeholder="name" [(ngModel)]="origin" name="Origin" required  #originPlace="ngModel">
        <option value="" disabled>Orgin</option>
        <option value="football">Wrocław</option>
    </select>
  
    <br><br> 
  
    <textarea [(ngModel)]="desc" name="desc" required>  </textarea>
  
    <br><br> 
  
    
    <button class="button" type="submit" routerLink="/place"  [disabled]="!myForm.valid"  > Accept</button>
  </form>
</div>

    