<div>
  <div class="form__temp"><div class="form__check" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
    <p>Check temperature in cites</p>
    <div  class="widget" *ngIf="isHovered">
      <div class="widget__select">
        <div>
          <div class="widget__txt">Check temperature 
        <select class="widget__city"
          placeholder="name"
          [(ngModel)]="selectedCity"
          name="city"
          required
          #cityPlace="ngModel"
          
        > 
          
          <option  *ngFor="let city of cities" [ngValue]="city">
            {{ city.name }}
          </option>
        </select></div>
        <p >
          <button  class="widget__button" (click)="update()" >Check</button>
     
    </p></div>
    <app-summery class="widget__temp" [city]="updatedCity"></app-summery>
      </div>
    </div></div>
  </div>
  
  <form #myForm="ngForm" >
    <div class="form">
      <div>
        <div class="form__error" *ngIf="originPlace.hasError('required')">Origin</div>
        <select class="form__input"
          placeholder="name"
          [(ngModel)]="origin"
          name="origin"
          required
          #originPlace="ngModel"
        >
          <option value="" disabled>Choice</option>
          <option value="Wrocław">Wrocław</option>
        </select>
      </div>
      <br /><br />
      <div>
        <div class="form__error" *ngIf="departurePlace.hasError('required')">Departure</div>
        <select class="form__input"
          placeholder="name"
          [(ngModel)]="departure"
          name="departure"
          required
          #departurePlace="ngModel"
        >
          <option value="" disabled>Choice</option>
          <option value="Warsaw">Warsaw</option>
          <option value="Londyn">London</option>
          <option value="New York">New York</option>
          
        </select>
      </div>
    </div>
    <div class="form">
      <div>
        <div class="form__error" *ngIf="datePlace.hasError('required')">Date</div>
        <input class="form__input"
          type="date"
          placeholder="name"
          [(ngModel)]="date"
          name="date"
          required
          #datePlace="ngModel"
        />
      </div>
      <div>
        <div class="form__error" *ngIf="passengersPlace.hasError('required')">Passengers</div>
        <select class="form__input"
          placeholder="name"
          [(ngModel)]="passengers"
          name="passengers"
          required
          #passengersPlace="ngModel"
        >
          <option value="" disabled>Choice</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
  </form>
  <div class="form"><button
    class="button"
    type="submit"
    (click)="update()"
    [disabled]="!myForm.valid"
    routerLink="/place"
  >
    Accept
  </button></div>
  <br>
  
</div>
