.summary {
  &__one {
    display: flex;
    justify-content: center;
  }
  &__select {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 3px;
    font-size: 14px;
    color: white;
    background-color: black;
    border: 1px solid green;
    border-radius: 3px;
  }
  &__bag {
    width: 100%;
    padding: 3px;
    font-size: 14px;
    color: white;
    background-color: black;
    border: 1px solid green;
    border-radius: 3px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background-color: green;
    color: white;
    border: 1px solid black;
    box-shadow: 0 2px 50px gray;
    cursor: pointer;
  }
  &__button:hover {
    background-color: black;
    color: white;
  }
  &__line {
    margin-top: 5px;
    width: 100%px;
    height: 3px;
    background-color: black;
  }
  &__txt {
    font-size: 19px;
  }
  &__tmp {
    margin-left: 40px;
    font-size: 21px;
    color: green;
  }
  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    width: 100px;
    height: 30px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background-color: green;
    color: white;
    border: 1px solid black;
    box-shadow: 0 2px 50px gray;
    cursor: pointer;
  }
  &__buy:hover {
    background-color: black;
    color: white;
  }
  &__image {
    position: absolute;
    margin-left: -290px;
    width: 700px;
    height: 500px;
    margin-top: -50px;
    border-radius: 8px;
    box-shadow: 0 2px 50px DimGray;
  }
  &__error {
    color: green;
    margin-left: 2px;
  }
}
@media (max-width: 576px) {
  .summary {
    &__image {
      margin-left: -90px;
      width: 320px;
      height: 220px;
    }
  }
}

@media (min-width: 1500px) {
  .summary {
    &__image {
      margin-left: -650px;
      margin-top: 15px;
      width: 780px;
      height: 470px;
    }
  }
}
