<ng-container *ngIf="visible">
  <div>
    <img class="summary__image" [src]="buyUrl" [alt]="descriptionBuy" />
  </div>
</ng-container>
<div class="summary">
  <div *ngIf="newPassengerse === '1'">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm" novalidate>
      <div>
        <div
          *ngIf="myForm.submitted && myForm.controls['ticketOne'].invalid"
          class="summary__error"
        >
          Choose a ticket
        </div>
        <select
          class="summary__select"
          placeholder="name"
          [(ngModel)]="ticketOne"
          id="ticketOne"
          name="ticketOne"
          required
          #departurePlace="ngModel"
        >
          <option value="" disabled>Ticket</option>
          <option value="440">B3 - 440 PLN</option>
          <option value="200">E2 - 200 PLN</option>
          <option value="210">E9 -210 PLN</option>
          <option value="400">B14 - 400 PLN</option>
          <option value="220">E14 - 220 PLN</option>
        </select>
      </div>
      <div>
        <div
          *ngIf="myForm.submitted && myForm.controls['bag'].invalid"
          class="summary__error"
        >
          Choose a bag
        </div>
        <select
          class="summary__bag"
          id="bag"
          placeholder="name"
          [(ngModel)]="bag"
          name="bag"
          required
          #bagName="ngModel"
        >
          <option value="" disabled>Bag</option>
          <option value="50">Small - 50 PLN</option>
          <option value="70">Medium - 70 PLN</option>
          <option value="100">Big - 100 PLN</option>
        </select>
      </div>
      <button type="submit" class="summary__button">Apply</button>
    </form>
  </div>
  <div *ngIf="newPassengerse === '2'">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm" novalidate>
      <div>
        <div
          *ngIf="myForm.submitted && myForm.controls['ticketOne'].invalid"
          class="summary__error"
        >
          Choose a ticket
        </div>
        <select
          class="summary__select"
          placeholder="name"
          [(ngModel)]="ticketOne"
          id="ticketOne"
          name="ticketOne"
          required
          #departurePlace="ngModel"
        >
          <option value="" disabled>Ticket</option>
          <option *ngIf="ticketTwo != 440" value="440">B3 - 440 PLN</option>
          <option *ngIf="ticketTwo != 200" value="200">E2 - 200 PLN</option>
          <option *ngIf="ticketTwo != 210" value="210">E9 - 210 PLN</option>
          <option *ngIf="ticketTwo != 400" value="400">B14 - 400 PLN</option>
          <option *ngIf="ticketTwo != 220" value="220">E14 - 220 PLN</option>
        </select>
      </div>
      <div>
        <div
          *ngIf="myForm.submitted && myForm.controls['ticketTwo'].invalid"
          class="summary__error"
        >
          Choose a ticket
        </div>
        <select
          class="summary__select"
          placeholder="name"
          id="ticketTwo"
          [(ngModel)]="ticketTwo"
          name="ticketTwo"
          required
          #departurePlace="ngModel"
        >
          <option value="" disabled>Ticket</option>
          <option *ngIf="ticketOne != 440" value="440">B3 - 440 PLN</option>
          <option *ngIf="ticketOne != 200" value="200">E2- 200 PLN</option>
          <option *ngIf="ticketOne != 210" value="210">E9 - 210 PLN</option>
          <option *ngIf="ticketOne != 400" value="400">B14- 400 PLN</option>
          <option *ngIf="ticketOne != 220" value="220">E14 - 220 PLN</option>
        </select>
      </div>
      <div
        *ngIf="myForm.submitted && myForm.controls['bag'].invalid"
        class="summary__error"
      >
        Choose a Bag
      </div>
      <div>
        <select
          class="summary__bag"
          id="bag"
          placeholder="name"
          [(ngModel)]="bag"
          name="bag"
          required
          #bagName="ngModel"
        >
          <option value="" disabled>Bag</option>
          <option value="50">Small - 50 PLN</option>
          <option value="70">Medium - 70 PLN</option>
          <option value="100">Big - 100 PLN</option>
        </select>
      </div>
      <button type="submit" class="summary__button">Apply</button>
    </form>
  </div>

  <div class="summary__line"></div>

  <p class="summary__txt">Origin: {{ newOrigin }}</p>

  <p class="summary__txt">Departure: {{ newDeparture }}</p>
  <div class="summary__tmp" *ngIf="newDeparture === 'Warsaw'">
    {{ cityWarsaw() }}°C :)
  </div>
  <div class="summary__tmp" *ngIf="newDeparture === 'London'">
    {{ cityLondon() }}°C :)
  </div>
  <div class="summary__tmp" *ngIf="newDeparture === 'New York'">
    {{ cityNewYork() }}°C :)
  </div>

  <p class="summary__txt">Date: {{ newDate }}</p>
  <p class="summary__txt">Passengerse: {{ newPassengerse }}</p>
  <p class="summary__txt">Price: {{ sum }} PLN</p>
  <div *ngIf="sum > 0">
    <button class="summary__buy" (click)="onclick()">Buy</button>
  </div>
</div>
