.main__image{
    
    width: 1500px;
    margin-left: 150px;
    box-shadow: 0 2px 50px DimGray;
    height:550px;
    margin-right: 150px;
    border-radius: 8px;
}
.main__title{
  
    position: relative;
    background-color: black;
    width: 600px;
    height: 200px;
    position: absolute;
    margin-left: 900px;
    margin-top: 30px;
    box-shadow: 0 2px 50px gray;
    border-radius: 4px;
}