.main {
  display: flex;
  justify-content: center;
  &__image {
    width: 560px;
    height: 550px;
    margin-top: 95px;
    border-radius: 8px;
    box-shadow: 0 2px 50px DimGray;
  }
  &__title {
    position: absolute;
    margin-top: 70px;
    background-color: white;
    width: 650px;
    height: 150px;
    border-radius: 4px;
    box-shadow: 0 2px 50px gray;
  }
  &__txt {
    display: flex;
    font-family: "Cinzel", sans-serif;
    justify-content: center;
    color: black;
    font-size: 45px;
  }

  &__ornament {
    &--front {
      height: 15px;
      background-color: rgb(28, 83, 28);
    }
    &--back {
      font-family: "Raleway", sans-serif;
      padding-top: 5px;
      height: 30px;
      background-color: black;
      color: white;
      text-align: center;
    }
  }
  &__temp{
    position: absolute;
    color: white;
    font-size: 12px;

  }
}

.places {
  position: absolute;
  background-color: black;
  margin-top: 300px;
  margin-left: -400px;
  width: 150px;
  height: 280px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 0 2px 50px gray;
}
.choice {
  position: absolute;
  background-color: black;
  margin-top: 300px;
  margin-left: 400px;
  width: 150px;
  height: 280px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 0 2px 50px gray;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  background-color: black;
  color: white;
  margin-top: 570px;
  width: 100px;
  height: 30px;
  border: 1px solid green;
  box-shadow: 0 2px 50px gray;
  cursor: pointer;
}
.button:hover {
  background-color: green;
  color: white;
}

.nav {
  display: flex;
  top: 0;
  position: absolute;
  align-items: flex-start;
}
@media (max-width: 576px) {
  .main {
    &__image {
      width: 300px;
      height: 850px;
    }
    &__title {
      width: 300px;
      height: 150px;
    }
    &__txt {
      font-size: 19px;
    }
    &__ornament {
      &--front {
        height: 15px;
        background-color: rgb(28, 83, 28);
      }
      &--back {
        font-size: 15px;
      }
    }
  }

  .places {
    margin-top: 300px;
    margin-left: 1px;
    width: 250px;
    height: 280px;
  }
  .choice {
    margin-top: 600px;
    margin-left: 1px;
    width: 250px;
    height: 280px;
  }
  .button {
    margin-top: 900px;
  }
}

@media (min-width: 1500px) {
  .main {
    &__image {
      width: 1200px;
      height: 550px;
    }
    &__title {
      width: 650px;
      height: 150px;
    }
  }
  .places {
    margin-top: 300px;
    margin-left: 700px;
    width: 250px;
    height: 280px;
  }
  .choice {
    margin-top: 300px;
    margin-left: -700px;
    width: 250px;
    height: 280px;
  }
}
