<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Raleway:wght@200;400;900&display=swap"rel="stylesheet"/>
<app-nav class="nav"></app-nav>

<div class="main"><img class="main__image" [src]="planeUrl" [alt]="description" />
<div class="main__title">
  <div class="main__ornament--front"></div>
  <p class="main__txt">Buy a plane ticket easily</p>
  <div class="main__ornament--back">The future airplane is with us !</div>
</div>


<app-choice class="choice"></app-choice>
>=</div>
<div class="widget">

	<h3 class="widget__title">Weather</h3>

	<div class="widget__select-wrapper">

		<select [(ngModel)]="selectedCity"
            class="widget__select"
    >
      <option [ngValue]="null">Select city...</option>
      <option *ngFor="let city of cities"
              [ngValue]="city"
      >
        {{city.name}}
      </option>

    </select>


		<button (click)="update()" class="widget__submit">Update</button>

	</div>
<app-summery [city]="updatedCity"></app-summery>
</div>
