
<form #addUserForm="ngForm">
  <div class="login__error" *ngIf="originPlacee.hasError('required')">Log in</div>
  <select class="login" [(ngModel)]="login" name="login" required #originPlacee="ngModel">
    <option value="" disabled selected>Name</option>
    <option *ngFor="let item of myData" [ngValue]="item.name">{{ item.name }}</option>
  </select>
  
  
  <div>
    <button routerLink="/place" class="button" (click)="sendForm()" [disabled]="!addUserForm.valid">Login</button>
  </div>
</form>